* {
  padding: 0;
  margin: 0;
}
header .bg-img{
  background-image: url(home-page-img.png);
  background-repeat: no-repeat;
  background-position-x: -460px;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
header .bg-img::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 110%;
  z-index: 2;
  top: 0px;
  left: 0px;
  opacity: 0.1;
  background-color: rgba(0, 0, 0, 0.349);
}
 
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  height: 58px;
  width: 100vw;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
}

nav::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  height: 45px;
}
header nav ul li {
  font-family: "poppins", "sans-serif";
  font-weight: 900;
  list-style: none;
  display: inline-block;
  position: relative;
  color: whitesmoke;
  padding: 10px;
  margin: 15px;
  font-size: 19px;
  letter-spacing: 2px;
  cursor: pointer;
}
header nav .btn1 {
  padding: 6px 12px;
  margin: 0 30px;
  border-radius: 10px;
  color: white;
  border: 1px solid #33d4d6;
  background: #38b4b6;
  font-size: 16px;
  transition-duration: 0.5s;
  cursor: pointer;
  font-family: "poppins", "sans-serif";
}
header nav .btn1:hover {
  background-color: transparent;
  color: #33d4d6;
}
header nav #logo{
    padding: 10px;
}



main #first{
  text-align: justify;
  position: absolute;
  top: 155px;
  height: 50vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  /* left: 16%; */
  z-index: 2;
  font-size: 20px;

}

main #first h1{
  font-size: 3.9rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  color: white;
}
main #first p{
  font-family: 'Varela', sans-serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.692);
}
main #first .buttons button{
  padding: 10px;
  font-size: 17px;
  text-decoration: none;
  margin: 20px 17px;
  border: 1px solid white;
  background-color: #11a2d0;
  border-radius: 7px;
  cursor: pointer;
  width: 200px;
  z-index: 5;
  transition-duration: 0.3s;
}

main #first .buttons button:hover{
  background-color: #006aa4;
  transition-duration: 0.3s;
}
main #first .buttons button:hover a{
  color:  white;
  transition-duration: 0.3s;
}

main #first .buttons button a{
  text-decoration: none;
  color: white;
  font-weight: bolder;
  transition-duration: 0.3s;
  letter-spacing: 1.2px;
}
main #first .buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

main #second{
  box-sizing: border-box;
  height: 530px;
  width: 95%;
  margin: 30px auto;
  display: grid;
  grid-template-areas: 'viruses viruses malwares'
                        'spams anti-viruses malwares';

}
main #second div{
  border: 1px solid whitesmoke;
  margin: 20px;
  border-radius: 13px;
  cursor: pointer;
  transition-duration: 0.6s;
}
main #second div:hover{
  transform: scale(1.1);
  transition-duration: 0.6s;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
main #second #viruses{
  grid-area: viruses;
  background-image: url(https://media.itpro.co.uk/image/upload/f_auto,t_primary-image-mobile@1/v1570814790/itpro/2015/09/virus_detected.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

} 
main #second #malwares{
  grid-area: malwares;
  background-image: url(https://www.amplifyintelligence.com/wp-content/uploads/2020/09/Screen-with-Malware-alert-1000x689-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 
main #second #spams{
  grid-area: spams;
  background-image: url(https://www.comodo.com/images/spam-definition.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} 
main #second #anti-viruses{
  grid-area: anti-viruses;
  background-image: url(https://www.abcnetfl.com/wp-content/uploads/cybersecurity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer{
  position: relative;
  bottom: -3px;
  background-color: black;
  width: 100vw;
  height: 60px;
  color: white;
  text-align: center;
  font-size: 19px;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins", "sans-serif";
  letter-spacing: 1.3px;
  word-spacing: 1px;
}


@media only screen and (max-width: 865px){
  header nav{
    flex-direction: column;
  }
  main #first{
    left: 10%;
    width: 70%;
  }
  main #first h1{
    font-size: 3.5rem;
  }
  nav::before{
    height: 128px;
  }
header nav .btn1 {
  display: none;
  }
}

@media only screen and (max-width: 670px){
  main #second{
    grid-template-areas: 'viruses' 'malwares' 'spams' 'anti-viruses'; 
    height: 1130px;
    padding: 30px;
  }
  main #first h1{
    font-size: 3.3rem;
  }
  main #first .buttons button{
    width: 150px;
  }
  header nav ul li{
    font-size: 17px;
    margin: 13px;
    padding: 5px;
  }
}
@media only screen and ( max-width: 590px){

  main #first p{
    font-size: 18px;
  }
  main #first h1{
    font-size: 45px;
  }
  main #first{
    width: 75%;
    left: 5%;
    margin-top: 30px;
  }
  main #first .buttons button{
    width: 130px;
    font-size: 13px;
  }
  footer{
    font-size: 17px; 
  } 
 
}
@media only screen and ( max-width: 530px){
   header nav ul li{
     font-size: 11px;
     margin: 7px;
   }
   main #first{
     width: 65%;
   }
}
