*{
    padding: 0px;
    margin: 0px;
}

main{
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 8px;
    
}
main .header{
    margin: 16px 2px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1.1px;
    background-color: rgb(204, 227, 243);
    width: 97%;
    border-radius: 8px;
    padding: 10px;
}
main p , main ul li{
    font-size: 17px;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding-left: 3px;
    margin-left: 10px;
}

@media only screen and ( max-width: 600px){
    main .header h1{
        font-size: 22px;
    }
    main p{
        font-size: 15px;
    }
}
